/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //*= require_tree .
 //*= require_self
 */

//@import "bootstrap-sprockets";
@import "bootstrap";
//@import "font-awesome-sprockets";
@import "font-awesome";

.field_with_errors input {
    border-color: red;
}

.field_with_errors textarea {
    border-color: red;
}

.devise-container {
  display: table;
  max-width: 400px;
  .devise-bs {
    margin: 20px 0 20px 0;
    padding: 10px 30px 0 30px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  .btn-auth {
    width: 100%;
  }
}

#nav-header {
  background-color: #fff;
  border-bottom: 1px solid #e7eaec;
  .dropdown-header {
    margin: 0;
    padding: 12px 0 0 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-left: 15px;
      padding: 17px;
    }
  }
}